#chartType {
  margin-right:20px;
  margin-top:7px;
}

#example {
  width:1000px;
  height:400px;
  text-align: center;
  margin:0 auto;
}

#patterns_list {
  width:300px;
  height:300px;
  overflow:scroll;
  float:right;
  white-space:nowrap;
}

#pattern_search {

}

#patterns_added {
  float:left;
}

.pattern_label {
  margin-left:10px;
}

#patternsAutoComplete {
  position:absolute;
  width:200px;
}

#patternsAdded {
    display: inline;
    float: left;
    height: auto;
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    width:700px;
}

.pattern_block {
  background-color:#428bca;
  border-radius: 5px;
  height: 35px;
  width: auto;
  float:left;
  margin-right:2px;
  margin-top:2px;
}

.pattern_block_text {
  font-weight: normal;
  margin-left: 10px;
  margin-right:5px;
  margin-top: 7px;
  text-align: center;
  width:auto;
  overflow: hidden;
  color:white;
}

.pattern_block_delete {
  float: right;
  height: 15px;
  margin-right: 5px;
  margin-top: 10px;
  width: 15px;
}

.pattern_block_delete:hover{
  cursor:pointer;
}

#dateRange {
  margin-right:20px;
}

#mainContainer {

}

#controlsContainer {
  width:100%;
  margin-bottom:40px;
}

#patternsContainer {
  width:100%;
  height:100%;
}
